/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET */

body {
    background: #000000;
    color: #FFFFFF;
}

.titlebar {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 48pt;
    letter-spacing: 3px;
}

.chat {
    color: #000000;
    background: #FFFFFF;
    width: 25%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.chatLog {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
}

.lobbyList {
    position: absolute;
    bottom: 139px;
    right: 0px;
    height: 150px;
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
    background: #808080;
    color: #000;
}

.gameBanner {
    display: block;
    height: 25%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.gameBanner h1 {
    font-size: 24pt;
}


@media screen (max-width: 700px) {
    .chat {
        color: #000000;
        background: #FFFFFF;
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .chatLog {
        height: 100px;
        overflow-x: hidden;
        overflow-y: scroll;
        word-break: break-all;

        font-size: 12pt;
    }

    .lobbyList {
        position: absolute;
        bottom: 139px;
        right: 0px;
        height: 150px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        word-break: break-all;
        background: #808080;
        color: #000;

        font-size: 12pt;
    }
}